body{
    background-color: gainsboro;
}

.overview-table{

    border: 1px solid #C1C1C1;
    margin: 0.8rem;
    padding: 0.4rem;
    background-color: white;
}

.new-registrated-applicants{
    border: 1px solid #C1C1C1;
    margin: 0.8rem;
    padding: 1rem;
    background-color: white;

}

.new-registrated-company{
    border: 1px solid #C1C1C1;
    margin: 0.8rem;
    padding: 1rem;
    background-color: white;
}