body, html {
    height: 100%;
}

.bg {
    /* The image used */
    background-image: url("/application2.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.background-reveal {
    visibility: hidden;

}


@media (max-width: 575.98px) {
    h1{
        font-size: 1.3rem;
    }

    h3{
        font-size: 1.1rem;
    }




}
.home_slogan_left{
    background: rgba(0,0,0,.5);

    padding:0;
    margin:5rem 2rem 0 2rem;

    top:0;
    left:0;

    color:white ;
}
.abstand li{
    padding-top: 5%;
    list-style-type: none;


}
.tripel{
    margin-top: 10%;
    border: none;
}

.studiumbeendet{
    background-color:white;
    margin-top: 15%;
    margin-bottom:15%;
}

.sogehts{
    color:white;
    background-color:#343a40;
    padding-top: 10%;
    padding-bottom:10%
}

.sogehts > .container> .row {
    margin-top: 5rem;
}

.ueberuns{
    background-color: gainsboro;
    padding-top: 15%;
    padding-bottom: 15%;
}

.tutorialimages{
    margin-left: 2rem;
    border-radius: 3%;
}

@media (max-width: 575.98px) {
    .tutorialimages {
        width:100%;
        margin-left: 0rem;
    }

    .home_slogan_left{
        background: rgba(0,0,0,.5);

        padding:0;
        margin: 0;

        top:0;
        left:0;
        width: 100%;
        height: 100%;
        color:white ;
    }

}


.FAQcontainer{
    background-color: white;
    padding-top: 15%;
    padding-bottom: 15%;
}
.FAQ{
    border: 1px solid gainsboro;
}
.question{
    background-color: white;
    padding: 1rem 0 1rem 1rem ;
}

.questionlink{
color:black;
}

.questionlink:hover{
    color: darkseagreen;

}

.triangle-down{
    color:darkseagreen;
    font-size: 1rem;
}

