body{
    font-family: 'Marvel', sans-serif;
}
.title{

    margin: 2rem 0 4rem 2rem ;
}
.subtitle{
    font-size: xx-large;
    padding: 1rem 0 0 0;
}

.background-reveal {
    visibility: hidden;

}

.modal-summary{
    background-color: gainsboro;
    border-radius: 0;
    padding: 0 3rem 0rem 3rem;
    margin: 0 0 16rem 0;
}

.modal-first-section{
    font-size: x-large;
    padding: 1rem 0 2rem 1rem;
}
.modal-second-section {
    font-size: x-large;
    padding: 0.5rem 0 2rem 1rem;

}
.undecorated{
    list-style-type: none;

}
.remove-margin{
    padding: 0 8rem 0 3rem;
}
.undecorated li{
    padding: 1rem 0 0 0;

}

.verticalicons{
   vertical-align: middle;
}
@media (max-width: 575.98px) {
    .zusammenfassung{
        padding:1rem 1rem 1rem 1rem;
    }
    .beschreibung{
        padding:1rem 1rem 2rem 1rem;
    }
    .modal-summary{
        margin: 0 0 1rem 0;
    }
}