body, html {
    height: 100%;

}
.bg {
    /* The image used */
    background-image: url("/registration_background.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    padding: 10rem;
}
.loginform{

    box-shadow: 2px 10px 10px 1px rgba(0, 0, 0, 0.1);
    border-width: 1px;
    background:  rgba(255, 255, 255, 0.9);
    padding: 6rem;
    font-family: 'Marvel', sans-serif;

}
@media (max-width: 575.98px) {
    .bg {
        background-image: none;
        height: 100%;
        padding: 1rem;
    }

    .loginform {
        padding:5rem 1rem 1rem 1rem;
        height:100%;
    }
}



