.bg {
    /* The image used */
    background-image: url("/registration_background.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;



}
@media (max-width: 575.98px) {
.bg{
    height: 100%;
    background-color: white;
    background-image: none;
    padding: 1rem;
}
}



.formdesign{
    background-color: white;
    background:rgba(255,255,255, 0.9);
    padding: 2rem;
    margin: 0 5rem 5rem 5rem;


}

@media (max-width: 575.98px) {
    .formdesign {
        margin: 0 0 0 0;
    }
}

h1{
    font-family: 'Marvel', sans-serif;

}

.custom-control-label{
    font-size: 1.2rem;
}