html{
    height:100%;
}
.bg {
    /* The image used */
    background-image: url("/search_background.jpg");

    /* Full height */
    height: 100%;
    padding: 2rem 2rem 0 2rem;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.formdesign{
    background-color: white;
    background:rgba(255,255,255, 0.9);
    padding: 1rem;

}
.searchbar{

    background-color: gainsboro;
    border-radius: 5px;



}

.searchbar small{

    color: gray


}


.jobmodulecontainer{


}

    .searchbar:hover{

    background-color: rgb(210, 224, 202);
    border-radius: 5px;


}

.col-sm-12{
    padding: 0 1px 0 1px
}

.btn-style{
    color:white!important;
    
}


.wrapper{
    word-wrap: break-word;
}


.flip-div{
    background-color: transparent;
    width: 23.5rem;
    height:23.5rem;

    perspective: 1000px;
    backface-visibility: hidden;
}

.flip-inner {

    width: 100%;
    height: 100%;
    text-align: left;
    -webkit-transition: transform 0.8s;
    -moz-transition: transform 0.8s;
    -ms-transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 10px;
}

.flip-div:hover .flip-inner {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg) ;
    -ms-transform: rotateY(180deg);

}

  .flip-inner a{
    color: black !important;
    text-decoration: none;

  }

  .flip-front{
    width: 100%;
    height: 100%;
      text-align: center;
      background-color: #292b2c;
      color:white !important;
        backface-visibility: hidden;
      transform: rotateX(0deg);
      z-index: 2;


  }

  .flip-front h1{
    color:white;
    margin-top: 40%;


  }


  .flip-front, .flip-back {

    position: absolute;
    width: 100%;
    height: 100%;


  }
  .flip-back {
      position: absolute;
      background-color: #292b2c;
    color: white !important;
    text-decoration: none;

      -webkit-transform: rotateY(180deg);
      -moz-transform: rotateY(180deg) ;
      -ms-transform: rotateY(180deg);
      transform: rotateY(180deg);

    padding: 2rem 0 0 2rem;


  }

  .exception{
      color:indianred;
  }

  .flipjobs{
      padding: 2rem 0 2rem 6rem ;
  }

@media (max-width: 575.98px) {
    .bg {
        /* The image used */
        background-image: none;

    }
    .jobmodulecontainer{
        padding:1rem 1rem 1rem 1rem;

    }
    .flipjobs{
        padding:1.2rem 0 0 0;
    }

}

