<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    <title>Headly - Overview</title>
</head>

<body>



    <div class="container">

        <h3>Hallo Admin, hier können Job-Ausschreibungen hinzugefügt werden!</h3>

        <div class="row " style="margin-top:5%">
            <div class="col-lg-12" >
                <form action="/admin/postJob"  method="post" th:object="${jobPost}" >
                    <div class="form-group">
                        <label for="exampleFormControlInput1"><b>Job-Ausschreibung</b></label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" name="jobname" placeholder="Jobausschreibung">
                      </div>
                    <div class="form-group">
                      <label for="exampleFormControlInput2"><b>Name des Unternehmens</b></label>
                      <input type="text" class="form-control" id="exampleFormControlInput2" name="companyname" placeholder="Muster GmbH">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1"><b>Job Beschreibung</b></label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" name="description" rows="8"></textarea>
                      </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput3"><b>Email address des Unternehmens</b></label>
                        <input type="email" class="form-control" id="exampleFormControlInput3" name="email" placeholder="name@example.com">
                      </div>

                    <input class="btn btn-success"  type="submit" name="Post">
                  </form>

            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>

</html>