<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/forgot.css">
    <link rel="stylesheet" href="/all.css">
    <link rel="stylesheet" href="/fonts.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Marvel&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/scrollreveal"></script>
    <title>Password vergessen?</title>
</head>
<body>
<form method="post" action="/forgot-password" th:object="${mailDto}">
<div class="d-flex justify-content-center pwforogotcontainer">
    <div class=" pwborder border ">
        <h1>Headly</h1>
        <hr>

       <h3 class="pw-h3 text-center"> Password vergessen?</h3>

        <div class="paragraph">
           Falls du dein Passwort vergessen hast, kannst du es hier zurücksetzen.
                Hier für benötigst du jedoch deine Benutzer-Email.
                Das ist die Email mit der du dich
                bei uns registriert hast.

                Nachdem du das Passwort angefordert hast solltest du eine E-Mail mit einem neuen Passwort erhalten.
                Falls du keine Email enthalten hast, schreib Uns eine E-Mail an team@headly.de .

        </div>


        <div class="form-group col-sm-12 col-md-12 ">


            <label class="" for="userID">Email</label>
            <input class="form-control " id="userID" name="username" size="30" th:field="*{mail}">
            <small class="form-text text-muted" id="userIdHelp">Geben Sie hier ihre Benutzer-Email ein, ihr neues Passwort wird dann nun an ihre Email geschickt</small>
        </div>

        <div class="form-group col-sm-12 col-md-12  ">
            <input class="btn btn-dark" type="submit" value="Passwort anfordern">

            <div class="alert alert-danger" th:if="${error}">
                <span th:text="${error}"></span>
            </div>

            <div class="alert alert-success" th:if="${success}">
                <span th:text="${success}"></span>
            </div>
        </div>
        
    </div>
</div>
</form>
</body>
</html>