<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" th:fragment="header">
        <a class="navbar-brand" href="/"><i class="far fa-comments"></i> HEADLY</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav">
                <li><a class="nav-item nav-link" href="/" sec:authorize="!isAuthenticated()">Home</a></li>
                <li><a class="nav-item nav-link" href="/applicants" sec:authorize="!isAuthenticated()">Für Bewerber</a></li>
               <li><a class="nav-item nav-link" sec:authorize="!isAuthenticated()"  href="/company">Für Unternehmen</a></li>
                <li><a class="nav-item nav-link"sec:authorize="isAuthenticated()" href="/ausschreibungen">Meine Ausschreibungen</a></li>
                <li><a class="nav-item nav-link"sec:authorize="isAuthenticated()" href="/admin">Dashboard</a></li>





            </ul>
            <ul class="navbar-nav ml-auto">
                <li class=""><a class="nav-item nav-link" sec:authorize="!isAuthenticated()" href="/login" >Login</a></li>
                <li class=""><a class="nav-item nav-link" sec:authorize="isAuthenticated()" href="/logout" >Logout</a></li>
            </ul>
        </div>
    </nav>
</body>
</html>