<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:fragment="footer">

    <div style="background-color: #343a40;color:white;width:auto;height:10%"class="d-flex flex-row justify-content-center ">
    <div>    <a href="https://www.instagram.com/headly.de" class="nav-link" style="color: white!important;"><i class="fab fa-2x fa-instagram" style=" vertical-align: middle;"></i> Instagram</a> </div>
    <div><a href="" class="nav-item nav-link" style="color: white!important;"><i class="fab fa-2x fa-linkedin-in" style=" vertical-align: middle;"></i> LinkedIn</a></div>
    <div> <a href="#" class="nav-item nav-link" style="color: white!important;">Impressum</a></div>
    <div><a href="#" class="nav-item nav-link" style="color: white!important;">Datenschutz</a></div>
    </div>

</div>



</body>
</html>