<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.w3.org/1999/xhtml">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration</title>


  <link rel="stylesheet preload" href="/main.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/all.css">
  <link rel="stylesheet" href="/registration.css">
  <link rel="stylesheet" href="/fonts.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Marvel&display=swap" rel="stylesheet">
  <script src="https://unpkg.com/scrollreveal"></script>


</head>

<body>

<div class="bg" >



  <div class=" formdesign" >


    <form action="/companyregistration" method="post" th:object="${user}" class="needs-validation" novalidate>
      <div class="form-row">
        <h1>HEADLY - Unternehmer - Registration</h1>

      </div>
      <hr>

      <div class="form-group">
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio"  onclick="toggleCompany()" id="option1" name="option1" class="custom-control-input" value="Unternehmen" th:field="*{role}">
          <label class="custom-control-label" for="option1">Unternehmen</label>
        </div>

      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="inputEmail">Email</label>
          <input type="email" class="form-control" id="inputEmail" th:field="*{email}" placeholder="max@mustermann.de" required>
          <div class="invalid-feedback">
            Bitte geben Sie eine Email ein!
          </div>
        </div>
        <div class="form-group col-md-12">
          <label for="inputPassword">Passwort (mindestens <b>acht</b> Zeichen/Ziffern</label>
          <input type="password" class="form-control" id="inputPassword" th:field="*{password}" required>
          <div class="invalid-feedback">
            Bitte geben Sie ein Passwort ein!
          </div>
        </div>

      </div>


      <div class="form-row company">
      <div class="form-group col-md-12">
        <label for="inputCompany">Name des Unternehmens</label>
        <input type="text" class="form-control" id="inputCompany"  th:field="*{companyname}" placeholder="Unternehmen GmbH"  required>
        <div class="invalid-feedback">
          Bitte geben Sie den Namen ihres Unternehmens ein!
        </div>
      </div>

      <div class="form-group col-md-12">
        <label for="inputContactPerson">Ansprechpartner</label>
        <input type="text" class="form-control" id="inputContactPerson" placeholder="Herr Mustermann"
          th:field="*{contactperson}" required >
        <div class="invalid-feedback">
          Bitte geben Sie den Ansprechpartner an!
        </div>
      </div>
    </div>

      <div class="form-row applicant">
        <div class="form-group col-md-6">
          <label for="inputEmail">Vorname</label>
          <input type="text" class="form-control" id="inputFirstname" th:field="*{firstname}" placeholder="Max"  required>
          <div class="invalid-feedback">
            Bitte geben Sie ihren Vornamen an!
          </div>
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword">Nachname</label>
          <input type="text" class="form-control" id="inputLastname" th:field="*{lastname}"  placeholder="Mustermann" required>
          <div class="invalid-feedback">
            Bitte geben Sie ihren Nachnamen an!
          </div>
        </div>
      </div>

      <div class="form-row ">
        <div class="form-group col-md-6">
          <label for="inputAddress">Strasse</label>
          <input type="text" class="form-control" id="inputAddress"  th:field="*{street}" placeholder="Musterstrasse"  required>
          <div class="invalid-feedback">
            Bitte geben Sie eine Strasse an!
          </div>
        </div>

        <div class="form-group col-md-4">
          <label for="housenumber ">Hausnummer</label>
          <input type="text" class="form-control" id="housenumber " th:field="*{housenumber}" placeholder="1"  required>
          <div class="invalid-feedback">
            Bitte geben Sie eine Hausnummer an!
          </div>
        </div>
      </div>



      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">Stadt</label>
          <input type="text" class="form-control" id="inputCity" th:field="*{city}" placeholder="Musterstadt" required>
          <div class="invalid-feedback">
            Bitte geben Sie eine Stadt an!
          </div>
        </div>

        <div class="form-group col-md-4">
          <label for="inputZip">Postleitzahl</label>
          <input type="text" class="form-control" id="inputZip" th:field="*{zipcode}" placeholder="12345"  required>
          <div class="invalid-feedback">
            Bitte geben Sie eine Postleitzahl ein!
          </div>
        </div>
      </div>

      <div class="form-check py-2">
        <input type="checkbox" class="form-check-input" id="datenschutzCheck">
        <label class="form-check-label" for="datenschutzCheck"><a href="#">Datenschutzerklärung</a> akzeptieren.</label>
      </div>

      <div class="form-check py-2">
        <input type="checkbox" class="form-check-input" id="agbCheck">
        <label class="form-check-label" for="agbCheck"><a href="/agb">AGB's</a> akzeptieren.</label>
      </div>



      <button id="submit" type="submit" class="btn btn-outline-dark" disabled>Registrieren</button>
      <hr>

      <div class=" mt-2 alert alert-success" th:if="${success != null}">
            <span th:text="${success}"></span>
            <a href="/login" class="btn btn-success">Zum Login</a>
      </div>
    </form>
  </div>

</div>
<script>
  function change(){

    agb = $('#agbCheck');
    datenschutz  = $('#datenschutzCheck')
    if(agb.prop('checked')  && datenschutz.prop('checked')){
      $('#submit').prop('disabled',false);
    }

    if(!agb.prop('checked')  || !datenschutz.prop('checked')) {
      $('#submit').prop('disabled',true);
    }

  }
  $("#option1").attr('checked',true);

  $('#agbCheck').on('change',change);
  $('#datenschutzCheck').on('change',change);


</script>

  <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
  </script>




<script>
ScrollReveal().reveal('.formdesign', {delay: 300, duration: 2000, origin: 'bottom', distance: '0px'});
ScrollReveal().reveal('.bg', {delay: 300, duration: 2000, origin: 'bottom', distance: '0px'});
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>

</html>