<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Registration Verified</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="d-flex justify-content-center align-content-center  m-5">
    <div class="alert alert-danger text-center">
        <span>Registrierung nicht möglich. Token abgelaufen oder nicht gültig.</span><br>
        <a href="/" class="btn btn-success">Zur Homepage</a>
    </div>
</div>
</body>
</html>