<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/search.css">
    <link rel="stylesheet" href="/fonts.css">
    <link rel="stylesheet" href="/all.css">
    <script src="https://unpkg.com/scrollreveal"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Marvel&display=swap" rel="stylesheet">


    <title>Headly - Bewerber</title>
</head>
<body>

<div th:replace="fragmentheader :: header">...</div>



<div class="container-fluid bg p-5">
    <div class="formdesign py-5">

        <h1>Jobsuche</h1>


    <div class="row">
        <div class="col-sm-8 col-lg-8 ">
            <div class="my-5">
                <form method="post" action="/search" th:object="${searchDto}">
                <div class="input-group">


                    <input class="form-control" type="search" placeholder="Traumberuf finden!" name="subString" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-success" type="submit">Los gehts!</button>
                    </div>


                </div>
                </form>
                <small><i>Hier können Sie nach Schlagwörtern, einer Branche oder direkt ihrem Beruf suchen!</i></small>
                <div class="exception">
                    <span th:text="${hits}"></span>
                </div>
            </div>

        </div>
    </div>

    </div>
</div>

<div class="container-fluid  py-5 jobmodulecontainer">
    <div class="row ">
        <div class="col-sm-12 col-lg-4 p-5" th:each="search: ${searchList}">

            <div class="flip-div">
                <div class="flip-inner">

                    <div class="flip-front">

                        <h1 th:text="${search.jobname}"></h1>

                    </div>

                    <a th:href="@{'/jobdetails/' + ${search.id}}">
                        <div class="flip-back">
                            <h3 class="subtitle">Zusammenfassung</h3>
                            <div class="modal-first-section">
                                <p><i class="fas fa-location-arrow verticalicons"></i> <b>Standort:</b> <span th:text="${search.location}"></span></p>
                                <p><i class="fas fa-dollar-sign verticalicons"></i> <b>Gehalt: </b><span th:text="${search.salary}"></span></p>
                                <p><i class="fas fa-hourglass-half verticalicons"></i><b> Art: </b><span th:text="${search.toe}"> </span></p>
                            </div>


                            <hr>
                            <div class="modal-second-section">
                                <p><b>Berufsfeld:</b> <span th:text="${search.profession}"></span></p>
                                <p><b>Job-ID:</b> <span th:text="${search.id}"></span></p>

                            </div>




                        </div>
                    </a>
                </div>
            </div>


        </div>

    </div>


</div>


<div th:replace="fragmentfooter :: footer">...</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>

</html>